/* Import Fonts - Google API */
@import url(
  'https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@500&family=Lato&display=swap');

/* Main App Styling */
.App {
  padding: 10px;
  padding-bottom: 200px;
  background-color: rgb(241, 241, 252);
  color: rgb(116, 119, 131);
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.pageHeading {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Cinzel Decorative', cursive;
  text-decoration-line: underline; 
  text-decoration-thickness: 1.5px;
}

/* Header Page Styling */
.headerStyle {
  font-size: calc(6px + 2vmin);
}
.headerText{
  color: rgb(116, 119, 131);
  font-family: 'Lato', sans-serif;
}
.headerLink {
  font-size: 80%;
}
.navDropdown {
  width: 10em;
  background-color: rgb(241, 241, 252);
}
.dropdownLink {
  text-align: left;
  border-bottom: 1px solid rgb(220, 223, 233);
  font-size: 90%;
}

/* Landing (Home) Page Styling */
#landingHeader {
  margin: 40px;
  display: inline-block;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 500%;
  text-decoration-line: underline; 
  text-decoration-thickness: 3px;
}
.landingSubHead {
  font-size: 140%;
}

/* Photo Album Styling ('my Memory Book') */
.flipBook {
  margin-left: 5%;
  margin-right: 5%;
 }
.arrows {
  margin-top: 20px;
 }
#pagePrev {
  margin-left: 80px;
  float: left;
}
#pageNext {
  margin-right: 80px;
  float: right;
}
#pageAddBtn {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color:rgb(154, 154, 187);;
  color: white;
  font-size: 120%;
}

/* Page Content Styling */
.pageContent {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2.5em;
  border: 1px solid darkgray;
  border-radius: 20px;
  display: block;
  box-shadow: inset 0 0 25px #222224;
  background-color: white;
}
.pageHeaderInput {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 80%;
  background-color: white;
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  display: block;
}
.pageTxtInput {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 80%;
  background-color: white;
  text-align: center;
  display: block;
}
.pageImgInput {
  margin: 5px;
  color: black;
  text-align: center;
}
.img {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: block;
}
.insidePageBtn {
  padding: 5px;
  border: 1px solid rgb(163, 152, 140);
  border-radius: 5px;
  color: white;
  font-size: 95%;
}
#savePg {
  background-color: rgb(86, 124, 86);
  float: left;
}
#delPg {
  background-color: rgb(163, 106, 106);
  float: right;
}
input[type='file'] {
  font-size: 70%;
}

/* FAQs Page Styling */
.FAQs {
  margin-left: 30px;
  text-align: left;
}
.question {
  margin-top: 10px;
  font-family: 'Cinzel', serif;
  font-size: 140%;
}

/* Login / Create Account / Contact Page Styling */
.loginForm, .accountForm, .contactForm {
  text-align: left;
   column-width: 50%;
   margin-left: 30px;
   margin-right: 30px;
}
.formLabel {
  font-weight: 600;
}
.loginButton, .accountButton, .contactButton {
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color:rgb(154, 154, 187);
  color: white;
  font-size: 120%;
}

/* REFERENCES:
    input-file styling:
      https://stackoverflow.com/questions/36540105/how-to-style-a-choose-file-button-using-css-only
*/